@{
    ViewBag.Title = "Редактирование ОС";
}



<div class="jumbotron">
    <h1>@ViewBag.Caption бренд</h1>

    <i><font color="red">@ViewBag.Message</font></i><br />


                                                    <form method="post" action="">

                                                        <input type="hidden" name="Id" value="@ViewBag.Brand.Id" />




                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label>Наименование ОС</label><sup><font color="red">*</font></sup><br />
                                                                <input type="text" name="Brand_name" value="@ViewBag.Brand.Brand_name" />
                                                            </div>


                                                            <div class="col-md-4">



                                                                <br />

                                                                <!-- Кнопка примерить (Добавить/Изменить) -->
                                                                <input class="btn btn-primary btn-lg" type="submit" name="@ViewBag.Mode" value="@ViewBag.Caption" />


                                                                <!-- Кнопка удаления -->
                                                                @if (ViewBag.USER != null && ViewBag.USER.User_Law_Id == 1 && ViewBag.Mode == "update")
                                                                {
                                                                    <input class="btn btn-primary btn-lg" type="submit" name="delete" value="Удалить" />
                                                                }

                                                                <!-- Кнопка отмены -->
                                                                @if (ViewBag.USER != null && ViewBag.USER.User_Law_Id == 1)
                                                                {
                                                                    <input class="btn btn-primary btn-lg" type="submit" name="cancel" value="Отменить" />
                                                                }

                                                            </div>

                                                        </div>

                                                    </form>

</div>