@{
    ViewBag.Title = "Моя корзина";
}

<div class="jumbotron">
    <h1>Мои заявки</h1>

    <div class="row">


        @if (ViewBag.Technics == null || ViewBag.Technics.Count < 1)
        {
        <p>
            Корзина пуста. Воспользуйтесь @Html.ActionLink("Решением", "PageCategories", "Home"), чтобы выбрать ....
        </p>
        }
        else
        {
        <!-- Список компьютерной техники -->
        <form method="post">

            <table border="1">

                <!-- Шапка таблицы -->
                <tr>
                    <th>Решение</th>
                </tr>

                <!-- Данные таблицы -->

                @foreach (var item in ViewBag.Technics)
                {
                    <tr>
                        <td>@item.Category_name.ToString()</td>

                        <td>
                            <input type="text" name="count_@item.Id" value="1" />
                        </td>
                    </tr>
                }

            </table>


            <!-- Выпадающий список Способов доставки компьютерной техники -->


            <label>Способ оплаты</label>

            <select name="Way_Id">
                @foreach (var item in ViewBag.Ways)
                {
                    <option value="@item.Id.ToString()">@item.Ways_name.ToString()</option>
                }
            </select>
            <br />
            <br />
            <label>Для связи:</label> <font color="red">@ViewBag.USER.User_tel</font>
            <br />
            <br />
            
            <input class="btn btn-primary btn-lg" type="submit" name="order" value="Подать заявку" />

        </form>                
        }

    </div>

</div>